@import 'view/main/Main/shared/media-queries';

.root {}

.header,
.footer,
.value {
  padding: 1.1em;
}

.root-path {}

.title-input {
  padding: 0.3em;
  width: 100%;
  box-sizing: border-box;

  /* do not remove border so invalid input does not shift on hover */
  border-color: transparent;
  font-size: 1.4rem;
  margin: 0.6em 0;

  transition: border-color 0.3s;
}

.title-input:not(.title-input-invalid):not(:focus):hover {
  /* highlight title field on hovering */
  border-color: lightgray;
}

.title-input-invalid {
  border-color: #dc3545;
}

.gear-menu {
  margin-top: 0.85em;

  /* limit space for gear button only */
  width: 1.7rem;
  overflow: hidden;
  transition: width 0.15s;
  white-space: nowrap;

  /* add padding to not cut select-color-button outline */
  padding: 0.3em 0;
}

.gear-menu-expanded {
  width: 12rem;
}

.gear-menu-item {
  /* add padding to all items so they all aligned with select-color-button */
  padding: 0.3em;
}

.gear-menu-item:first-child {
  padding-left: 0;
}

.gear-menu-item + .gear-menu-item {
  margin-left: 1.1em;
}

.select-color-button {
  /* add padding so outline is not too close to icon */
  padding: 0.3em;
  outline: 2px solid var(--idea-color);
}

.remove-color-button {}

.body {
  /* section dividers */
  border-top: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef;
}

.value {
  border-bottom: 1px solid #eceeef;

  /* extend zone for activating edit mode by double click */
  min-height: 1.1rem;
}

.predecessors {}

.successor-operations {
  padding: 1.1em;
  display: flex;
}

.successor-operations-item + .successor-operations-item {
  margin-left: 1.4em;
}

.successor-create-button {
  display: flex;
  align-items: center;
}

.successor-search {
  /* extend vertically so lookup has enough space when shown */
  height: 2.8rem;
}

.successor-search-lookup {
  background-color: white;
  padding: 0.4em;
  border-radius: 0.3em;
  box-shadow: 0 0 0.8em black;

  /* lift search lookup above successor list
       (as lookup and list are both positioned relatively) */
  z-index: 1;
}

.successors {
  padding: 0 1.1em 1.1em 1.1em;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

/* stylelint-disable no-descending-specificity */

.gear-button,
.remove-button,
.select-color-button,
.remove-color-button,
.successor-create-button,
.successor-search-trigger {
  color: #adadad;
}

.gear-button:hover,
.gear-menu-expanded .gear-button,
.remove-button:hover,
.select-color-button:hover,
.remove-color-button:hover,
.successor-create-button:hover,
.successor-search-trigger:hover {
  color: black;
}
