{
    "globals": {
        /* webpack members */
        "require": false,

        /* mocha members */
        "describe": false,
        "it": false,
        "before": false,
        "beforeEach": false,
        "after": false,
        "afterEach": false
    }
}