@import 'view/main/Main/shared/media-queries';

.root {
  display: inline-block;
}

.trigger {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.15s;
}

.root.active .trigger {
  opacity: 0;
}

.lookup-expander {
  display: inline-block;
  height: 1rem;
  width: 0;

  /* zero width is not enough to hide lookup since its inner paddings will
       still be seen, so make it transparent (+ transition looks good) */
  opacity: 0;
  transition: width 0.5s, opacity 0.15s;
  position: relative;
}

.root.active .lookup-expander {
  width: 27rem;
  opacity: 1;

  @media (--small-down) {
    width: 23rem;
  }

  @media (--xsmall-only) {
    width: 11rem;
  }
}

.lookup {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  box-sizing: border-box;
}

.root:not(.active) .lookup {
  /* hide completely so cursor not changing when hovering hidden lookup */
  display: none;
}
