.root {
  padding: 0.3em;
  padding-left: 0.6em; /* free some space for highlight char */
  color: #757575;
  position: relative;
}

.root:hover,
.highlight {
  color: black;
}

.highlight::before {
  content: '•';
  color: #757575;

  /* free from flow to not change position of suggestion text */
  position: absolute;
  left: 0;
}
