.root {
  height: 100%;
  position: relative;

  /* initiate separate block formatting context, so child margins do not
     escape parent block (eg. mindmap margin does not move mindset) */
  overflow: hidden;
}

.toggle-mode-button {
  position: absolute;
  top: 0.85rem;
  left: 0.85rem;
}

.db-connection-icon {
  position: absolute;
  top: 0.85rem;
  left: 3.3rem;
}

.go-root-button {
  position: absolute;
  top: 0.85rem;
  right: 0.85rem;
}

.idea-search-box {
  position: absolute;
  top: 0.85rem;
  right: 3.3rem;
}

.idea-search-box-lookup {
  padding: 0.4em;
  border-radius: 0.3em;
}

.root.mode-zen .go-root-button {
  /* shift button bit left to free space for scrollbar */
  right: 1.1rem;
}

.root.mode-zen .idea-search-box {
  /* shift button bit left to free space for scrollbar */
  right: 3.6rem;
}

.root.mode-mindmap .db-connection-icon,
.root.mode-mindmap .go-root-button,
.root.mode-mindmap .idea-search-box-trigger,
.root.mode-mindmap .toggle-mode-button {
  color: lightgray;
}

.root.mode-zen .db-connection-icon,
.root.mode-zen .go-root-button,
.root.mode-zen .idea-search-box-trigger,
.root.mode-zen .toggle-mode-button {
  color: #808080;
}

.root.mode-mindmap .db-connection-icon:hover,
.root.mode-mindmap .go-root-button:hover,
.root.mode-mindmap .idea-search-box-trigger:hover,
.root.mode-mindmap .toggle-mode-button:hover {
  color: white;
}

.root.mode-zen .db-connection-icon:hover,
.root.mode-zen .go-root-button:hover,
.root.mode-zen .idea-search-box-trigger:hover,
.root.mode-zen .toggle-mode-button:hover {
  color: black;
}

.root.mode-mindmap .idea-search-box-lookup {
  background-color: rgba(255, 255, 255, 0.9);
}

.root.mode-zen .idea-search-box-lookup {
  background-color: white;
  padding: 0.4em;
  border-radius: 0.3em;
  box-shadow: 0 0 0.8em black;

  /* lift search box above form in zen mode */
  z-index: 2;
}
