.root {
  height: 100%;
  position: relative;

  /* initiate separate block formatting context, so child margins do not
     escape parent block (eg. mindmap margin does not move mindset) */
  overflow: hidden;
}

.message {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  color: white;
}

.toggle-mode-button {
  position: absolute;
  top: 15px;
  left: 15px;
}

.db-connection-state-icon {
  position: absolute;
  top: 15px;
  left: 60px;
}

.go-root-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.root.mode-mindmap .db-connection-state-icon,
.root.mode-mindmap .go-root-button,
.root.mode-mindmap .idea-search-box-trigger,
.root.mode-mindmap .toggle-mode-button {
  color: lightgray;
}

.root.mode-zen .db-connection-state-icon,
.root.mode-zen .go-root-button,
.root.mode-zen .idea-search-box-trigger,
.root.mode-zen .toggle-mode-button {
  color: #ababab;
}

.root.mode-mindmap .db-connection-state-icon:hover,
.root.mode-mindmap .go-root-button:hover,
.root.mode-mindmap .idea-search-box-trigger:hover,
.root.mode-mindmap .toggle-mode-button:hover {
  color: white;
}

.root.mode-zen .db-connection-state-icon:hover,
.root.mode-zen .go-root-button:hover,
.root.mode-zen .idea-search-box-trigger:hover,
.root.mode-zen .toggle-mode-button:hover {
  color: white;
}

.idea-search-box {
  position: absolute;
  top: 15px;
  right: 60px;
}

.idea-search-box-lookup {
  padding: 7px;
  border-radius: 5px;
}

.root.mode-mindmap .idea-search-box-lookup {
  background-color: rgba(255, 255, 255, 0.9);
}

.root.mode-zen .idea-search-box-lookup {
  background-color: white;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 0 15px black;
}
