.root {
    display: flex;
}

.trigger {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: lightgray;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.15s;
}

.trigger:hover {
    color: white;
}

.root.active .trigger {
    opacity: 0;
}

.lookup-expander {
    display: inline-block;
    width: 0;
    transition: width 0.5s;
    position: relative;
}

.root.active .lookup-expander {
    width: 200px;
}

.lookup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}