{
    "presets": [
        // do not transpile es2015 modules syntax to 'commonjs'.
        // it's required for react hot-loader to work.
        // for client, webpack supports modules syntax and will
        // remove it while bundling. server should stick with 'commonjs'.
        ["es2015", {"modules": false}],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-async-to-generator",
        ["transform-builtin-extend", {
            "globals": ["Error"]
        }]
    ]
}