{
    "presets": [
        [
            // add transformations basing on target environment .browserslistrc
            // babel will later skip the ones that were not used.
            "@babel/preset-env",
            {
                // add polyfills from core-js and regenerator-runtime
                "useBuiltIns": "usage",
                "corejs": {
                    "version": 3
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}