{
    "extends": ["eslint:recommended", "plugin:react/recommended", "google"],
    "parser": "babel-eslint",
    "plugins": [
        "babel",
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true
    },
    "rules": {
        // do not care about win/unix line ending diffs
        "linebreak-style": 0,

        // padding big functions makes it more "breathing" (render),
        // padding small functions looks unnecessary (onClick)
        "padded-blocks": 0,

        // remove empty line junk at the end of each file.
        // common unix idiom is not an argument for me
        "eol-last": ["error", "never"],
        
        // remove comma junk after last obj/array item.
        // version control diffs is not an argument for me
        "comma-dangle": ["error", "never"],

        // since this is not a lib to embed other project
        // and make noise there, i feel free to log anything
        "no-console": 0,

        // remove invisible spaces junk at the end of lines
        "no-trailing-spaces": ["error", { "skipBlankLines": true }],

        // using 'const' instead of 'let' to follow spec meaning
        "prefer-const": ["error"],

        // React
        "jsx-quotes": [ 1, "prefer-single" ],
        "react/jsx-indent": [2, 4],

        // Babel rewrites
        "arrow-parens": 0,
        "babel/arrow-parens": [ 1, "as-needed" ],

        "object-curly-spacing": 0,
        "babel/object-curly-spacing": 1
    }
}