.root.type-action {
  cursor: pointer;
}

.root.type-action,
.root.type-text {
  padding: 0.3em 0.8em;
}

.root.type-action:hover {
  text-decoration: underline;
}

.root.type-action.disabled {
  color: gray;
  cursor: default;
}

.root.type-action.disabled:hover {
  background-color: initial;
}

.root.type-separator {
  margin: 0.45em 0.1em;
  border-color: #e1e4e8;
}
