.item {
  padding: 0.3em;
  cursor: pointer;
}

.item:hover {
  background-color: lightgray;
}

.item.disabled {
  color: gray;
  cursor: default;
}

.item.disabled:hover {
  background-color: initial;
}
