.root {
  position: absolute;

  user-select: none;
  border-radius: 0.1em;
  padding: 0.1em 0.6em;
  background-color: white;

  max-width: 14rem;

  /* do not wrap */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  opacity: 1;
  transition: opacity 0.5s;
}

.root.transition,
.root.transition-enter {
  opacity: 0;
}
