.root {
    position: relative;
}

.textarea {
    display: block;
    width: 100%;
    border: none;
    min-height: 234px;
    resize: vertical;
    padding: 5px;
}

.textarea:focus {
    outline: 2px solid #a5c7fe;
}

.button-edit {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #adadad;
    user-select: none;

    /* hide text under button, so button always clearly visible */
    background-color: white;
}

.button-edit:hover {
    color: black;
}