.root {
  color: lightgray;
}

.sep {
  /* align separator with items horizontally */
  display: inline-block;
  overflow: hidden;
}

.item {
  display: inline-block;

  /* limit width */
  max-width: 11.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  cursor: pointer;
  color: black;
}
