.root {
    position: absolute;
    left: 5px; 
    top: 5px;
    color: #D00;
    width: 250px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    line-height: 25px;

    user-select: none;
    -webkit-user-select: none;

    font-size: 14px;
}

.title {
    display: inline-block;
    min-width: 110px;
    vertical-align: top;
}

.value {
    display: inline-block;
    max-width: 140px;
}