.root {
  position: relative;
}

.popup {
  position: absolute;
  top: 2rem;
  width: 11.7rem;
  background-color: white;
  padding: 0.3em 0;
  border-radius: 0.2em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.popup::after {
  content: '';

  position: absolute;
  top: -0.9rem;
  left: 5.5rem;

  /* top-arrow */
  border: 9px solid transparent;
  border-bottom-color: #fff;
}
