.root {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  color: #d00;
  border-right: 1px solid red;
  border-bottom: 1px solid red;

  user-select: none;

  font-size: 0.7rem;
  padding: 0 0.6em 0.6em 0;
}

.title {
  display: inline-block;
  min-width: 6rem;
  vertical-align: top;
}

.value {
  display: inline-block;
  max-width: 10rem;
}
