.root {
  padding: 0.2em 0.3em;
}

.severity-info {
  color: black;
  background-color: white;
}

.severity-warning {
  color: #5c3b00;
  background-color: #fffbe6;
}

.severity-error {
  color: red;
  background-color: #fff0f0;
}

.time {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.6em;
  min-width: 4.4rem;
}
