.root {
  /* expand contents */
  height: 100%;

  /* prevent page scrollbar initiated by overflowed elements
     (eg. idea menu or lookup suggestions) */
  overflow: hidden;
}

.version {
  position: absolute;
  bottom: 0.85rem;
  right: 0.85rem;
}
