:global(html),
:global(body),
.root {
  /* expand contents to full viewport */
  height: 100%;

  /* prevent page scrollbar initiated by overflowed elements
     (eg. idea menu or lookup suggestions) */
  overflow: hidden;
}

:global(body) {
  height: 100%;

  /* remove default margins */
  margin: 0;
}

@font-face {
  font-family: 'montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'montserrat-light';
  src: url('./fonts/Montserrat-Light.ttf');
}

.root,
:global(input),
:global(textarea),
:global(select),
:global(button) {
  font-family: 'montserrat', sans-serif;
  font-size: 18px;
}

:global(hr) {
  /* normalize horizontal rule */
  border-top: 1px solid #eceeef;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 20px 0;
}

:global(input),
:global(textarea) {
  /* normalize inputs */
  border: 1px solid gray;
}

:global(input):focus,
:global(textarea):focus {
  /* replicate chrome outlining.
       use shadow to not conflict with border and outline.
       > 1px outline hides border in Chrome */
  outline: none;
  box-shadow: 0 0 0 2px #a5c7fe;
}

.version {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
