.root {
    height: 100%;

    /* prevent stretching page eg. by idea menu or lookup suggestions */
    overflow: hidden;
}

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('./fonts/Montserrat-Light.ttf');
}

.root,
:global(input),
:global(textarea),
:global(select),
:global(button) {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
}
