.root {

    height: 100%;

    /* Context menus are positioned relatively to Mindmap container.
    Graph sends right-click positions relative to its container.
    To avoid menus shift - Graph and Mindmap should equal at top-left,
    otherwise wrap Graph and context menus in separate container. */
    position: relative;

    background-image: radial-gradient(#0F5B97 0%, #031020 100%);
}

.svg {
    width: 100%;
    height: 100%;
}