.root {
  display: grid;
  height: 100%;

  grid-template-columns: 400px auto;
  grid-template-rows: 55px auto;
  grid-template-areas:
    'header header'
    'sidebar pane';

  background-color: lightgray;
}

.header {
  /* free space for mindset buttons */
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;

  overflow: auto;
}

.pane {
  grid-area: pane;
  
  overflow: auto;
}
