.root {
  height: 100%;

  display: flex;
  background-color: #adadad;
}

.sidebar {
  /* free space for mindset buttons */
  margin-top: 3em;
}

.pane {
  /* free space for mindset buttons */
  padding-top: 3em;
  flex-grow: 1;

  overflow: auto;
}
