.root {
  height: 100%;

  display: flex;
  background-color: lightgray;
}

.sidebar {
  /* free space for mindset buttons */
  margin-top: 60px;
}

.pane {
  /* free space for mindset buttons */
  margin-top: 55px;
  flex-grow: 1;

  overflow: auto;
}
