{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    // add transformations for current node version.
                    // node which makes build should be of the same version as
                    // node which runs production build.
                    "node": true
                }
            }
        ]
    ]
}