.root {
    padding: 10px;
}

.go-parent-button {
    padding: 10px 10px 10px 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.go-parent-button:not(.enabled) {
    cursor: default;
}

.go-parent-button.enabled:hover {
    cursor: pointer;
    background: #f5f5f5;
}

.title {
    margin-left: 10px;
}

.back-icon {
    color: lightgray;
}

.go-parent-button:hover .back-icon {
    color: black;
}

.successors {}