.root {
  display: flex;

  /* position relatively for remove button */
  position: relative;

  cursor: pointer;
}

.root:hover {
  background: #f5f5f5;
}

.root.highlighted {
  background: #e6e6e6;
}

.root.layout-column {
  padding: 10px;

  border-left: 4px solid var(--list-item-color, lightgray);

  overflow: hidden;
}

.root.layout-inline {
  display: inline-block;
  padding: 3px 5px;

  border: 2px solid var(--list-item-color, lightgray);
    
  /* limit width */
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  white-space: nowrap;
}

.root.layout-column .root-path {
  color: lightgray;
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;
}

/* Q: why add additional inner span?
   A: only way to correctly truncate text on the left with ellipsis.
      another solution with 'direction: rtl' does not work correctly in Edge 41:
      text still truncated on the right (see css gotcha #6) */
.root.layout-column .root-path > span {
  float: right;
}

.root.layout-inline .root-path {
  display: none;
}

.remove-button {
  display: none;
}

.root:hover .remove-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;

  color: #adadad;
}

.root:hover .remove-button:hover {
  color: black;
}
