.root {}

.input {
  padding: 0.3em 0.4em;
  width: 100%;
  box-sizing: border-box;
}

.nothing-found {
  text-align: center;
  margin-top: 0.6em;

  /* do not wrap in case container is too small (eg. when container width
    animated like in idea search box, when box is hiding - not-found string
    should not wrap) */
  overflow: hidden;
  white-space: nowrap;
}

.suggestions {
  margin-top: 0.3em;
}

.suggestion {
  cursor: pointer;
  padding: 0.6em 0.6em;

  /* do not wrap */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suggestion + .suggestion {
  border-top: 1px solid lightgray;
}
