.root {
    width: 250px;

    /* hide overflow, so when width is zero - it is completely hidden.
       otherwise input paddings remain visible (this is how 'border-box' works).
       normally inner content will stretch root container and there will be
       no overflow, but this is cricical in case usage wants to hide lookup
       by setting width to zero (eg. idea search box) */
    overflow: hidden;
}

.input {
    padding: 5px 7px;
    width: 100%;
}

.nothing-found {
    text-align: center;
    margin-top: 10px;
}

.suggestions {
    margin-top: 5px;
}

.suggestions {
    background-color: rgba(255, 255, 255, 0.7);
}

.suggestion {
    cursor: pointer;
    padding: 10px 10px;

    /* do not wrap */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.suggestion + .suggestion {
    border-top: 1px solid white;
}
