.root {
    /* hide overflow, so when width is zero - it is completely hidden.
       otherwise input paddings remain visible (this is how 'border-box' works).
       normally inner content will stretch root container and there will be
       no overflow, but this is cricical in case usage wants to hide lookup
       by setting width to zero (eg. idea search box) */
    overflow: hidden;
}

.input {
    padding: 5px 7px;
    width: 100%;
}

.nothing-found {
    text-align: center;
    margin-top: 10px;

    /* do not wrap in case container is too small
       (eg. when container width animated like in idea search box, when box
        is hiding - not-found string should not wrap) */
    overflow: hidden;
    white-space: nowrap;
}

.suggestions {
    margin-top: 5px;
}

.suggestion {
    cursor: pointer;
    padding: 10px 10px;

    /* do not wrap */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.suggestion + .suggestion {
    border-top: 1px solid lightgray;
}
