.root {
    cursor: pointer;
}

.circle {}

.title {
    font-family: 'montserrat-light', sans-serif;
    
    fill: white;
}

.root.shaded .circle {
    opacity: 0.5;
}

.root.shaded .title {
    color: lightgray;
}