.root {
  display: flex;
  flex-direction: column;

  padding: 0.6em;
  background-color: white;

  /* add padding so shadow is not truncated */
  margin: 0.3em 0.3em 0.6em 0;
  box-shadow: 0 0 0.3em gray;

  position: relative;
  left: 0;
  width: 22rem;

  transition: width 0.5s, left 0.5s;
}

.root.collapsed {
  width: 0;

  /* move outside the screen to hide paddings and shadow */
  left: -1.4rem;
}

.go-parent-button {
  padding: 0.6em 0.6em 0.6em 0;
  
  flex-shrink: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.go-parent-button:not(.enabled) {
  cursor: default;
}

.go-parent-button.enabled:hover {
  cursor: pointer;
  background: #f5f5f5;
}

.title {
  margin-left: 0.6em;
}

.back-icon {
  color: #adadad;
}

.go-parent-button:hover .back-icon {
  color: black;
}

.successors {
  overflow-y: auto;
}

.root.collapsed .successors {
  /* hide list item paddings */
  overflow: hidden;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 0.45rem;
  color: #ababab;
  cursor: pointer;

  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  right: 0;
  top: 0.6rem;

  transition: right 0.5s;
}

.toggle-button:hover {
  color: black;
}

.root.collapsed .toggle-button {
  /* sidebar is hidden outside the screen, so move toggler back to screen */
  right: -2.5rem;
}
