@import 'view/main/Main/shared/media-queries';

.root {
  height: 100%;
  background-color: #adadad;

  display: flex;
  justify-content: center;
}

.dialog {
  background: white;
  box-shadow: 0 0 1em gray;
  border-radius: 0.3em;

  width: 22rem;
  margin-top: 5.5em;
  align-self: flex-start;

  @media (--medium-down) {
    margin-top: 0;
    align-self: center;
  }

  /* lift dialog above version mark */
  position: relative;
  z-index: 1;
}

.modes {
  display: flex;
}

.mode {
  flex: 1;
  font-size: 1.3rem;
  text-align: center;

  padding: 1.1em;

  cursor: pointer;
  color: gray;

  position: relative;
}

.mode.active,
.mode:hover {
  color: black;
}

.mode + .mode::before {
  content: '';
  position: absolute;
  left: 0;
  height: 1.8rem;
  border-left: 1px solid lightgray;
}

.form {}
