.root {
  user-select: none;
}

:export {
  /* define font size staticaly to compute line height by hand, since svg text
     cannot do text wrapping */
  font-size: 18;
}

.line {
  font-size: 1rem;
  fill: #d00;
}

.line::selection {
  background-color: inherit;
}
